@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*,*::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'RocknRoll One', sans-serif;
  background: #27282C;
}


#root {
  flex: 1;
  max-width: 500px;
  margin: 0 10px;
  text-align: center;
  background: #F0F5F9;
  border: 2px solid #F0F5F9;
  border-radius: 20px;
  transform: scaleY(1);
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2.375rem;
}

.form {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

input {
  font-family: 'RocknRoll One', sans-serif;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  border-radius: 20px 0px 0px 20px;
  color: #F0F5F9 ;
  border: none;
  background: #27282C;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  width: 50px;
  background: #F0AF4B;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.main .temperature {
  max-width: 200px;
  margin: 0 auto;
  font-size: 60px;
  background: #F0AF4B;
  color: #F0F5F9;
  border-radius: 20px;
}


.status {
  padding: 2rem;
  background: #27282C;
  border-radius: 20px;
}

.status--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #F0F5F9;
}


.status--flex div:nth-child(1)::before{
  content: '';
  display: block;
  background: url('./assets/Vector.svg') no-repeat center;
  width: 20px;
  height: 20px;
  margin: 5px auto;
}

.status--flex div:nth-child(2)::before{
  content: '';
  display: block;
  background: url('./assets/wind.svg') no-repeat center;
  width: 20px;
  height: 20px;
  margin: 5px auto;
}

.status--flex div:nth-child(3)::before{
  content: '';
  display: block;
  background: url('./assets/thermometer.svg') no-repeat center;
  width: 25px;
  height: 25px;
  margin: 5px auto;
}

.error{
  
}

@media screen and (min-width: 700px){
  .cat {
   position: relative;
   left: 90px;
}
}

@media screen and (max-width: 400px){
  body{
    height: auto;
    padding: 1rem;
  }
}


